# General config
cluster:
  name: lgtm

# Features
clusterMetrics:
  enabled: true
  node-exporter:
    service:
      port: 9123
podLogs:
  enabled: true
autoInstrumentation:
  enabled: true
applicationObservability:
  enabled: true
  receivers:
    otlp:
      grpc:
        enabled: false
      http:
        enabled: true
        port: 4318

# Datasource destinations
destinations:
  - name: Prometheus
    type: prometheus
    url: http://mimir-distributor.monitoring.svc.cluster.local:8080/api/v1/push
  - name: Loki
    type: loki
    url: http://loki.monitoring.svc.cluster.local:3100/loki/api/v1/push
    destinations:
    tenantId: "fake"
  - name: Tempo
    type: otlp
    protocol: http
    url: http://tempo.monitoring.svc.cluster.local:4318
    tenantId: "fake"
    tls:
      insecure: true
      insecureSkipVerify: true

# Collectors
alloy-metrics:
  enabled: true
  extraConfig: |-
    mimir.rules.kubernetes "local" {
      address = "http://mimir-ruler.monitoring.svc.cluster.local:8080"
      rule_namespace_selector {
        match_labels = {
          "kubernetes.io/metadata.name" = "monitoring",
        }
      }
      rule_selector {
        match_labels = {
          "alloy" = "yes",
        }
      }
    }

alloy-logs:
  enabled: true
alloy-receiver:
  enabled: true
  alloy:
    extraPorts:
      - name: otlp-http
        port: 4318
        targetPort: 4318
        protocol: TCP
