alertmanager:
  replicas: 1
  resources: {}
  statefulSet:
    enabled: true

compactor:
  resources: {}

distributor:
  replicas: 1
  resources: {}

ingester:
  replicas: 3
  resources: {}

  zoneAwareReplication:
    enabled: false

admin-cache:
  enabled: false

chunks-cache:
  enabled: false

index-cache:
  enabled: false

metadata-cache:
  enabled: false

results-cache:
  enabled: false

overrides_exporter:
  replicas: 1
  resources: {}

querier:
  replicas: 1
  resources: {}

query_frontend:
  replicas: 1
  resources: {}

ruler:
  replicas: 1
  resources: {}

store_gateway:
  zoneAwareReplication:
    enabled: false
  persistentVolume:
    size: 10Gi
  replicas: 3
  resources: {}

nginx:
  image:
    registry: crpxpssiproxyweuprd001.azurecr.io/docker.io
  replicas: 1
  resources: {}

mimir:
  structuredConfig:
    multitenancy_enabled: false

serviceAccount:
  create: false
  name: minio-sa
