apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: mimir
  namespace: argocd
spec:
  project: default
  sources:
    # - repoURL: https://github.com/GVengelen/grafana.git
    #   targetRevision: HEAD
    #   ref: values
    - chart: mimir-distributed
      repoURL: https://grafana.github.io/helm-charts
      targetRevision: "*"
      # helm:
      #   valueFiles:
      #     - $values/charts/kube-prometheus-stack/values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: monitoring
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
      - ServerSideApply=true
